.env

# Lock files (yarn 사용)
package-lock.json
npm-debug.log*

# compiled output
/dist
/node_modules

#SQLite
**/shorttpd_db
./shorttpd_db
shorttpd_db

# serve directory
/serve

# Logs
logs
*.log
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json