<!DOCTYPE HTML>

<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<title>Shorttpd, Simple Web Server</title>
<script src="/js/app.js"></script>
<script src="/js/sha256.js"></script>
<body>
<div data-include="/shorttpd-static/fragment/header.html"></div>
<style>
section#login-section{
    height: 400px;
}
</style>
<section id="login-section">
    <div data-include="/shorttpd-static/fragment/login.html"></div>
</section>

<div data-include="/shorttpd-static/fragment/footer.html"></div>
</body>

</html>